/* *{
  background-color: black;
} */
.App {
  text-align: center;
}
nav{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 120px;
  background-color:pink;
}
nav>a{
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}

.active-class{
  color: violet;
}

.not-active-class{
  color:violet;
}

.student-details-btn{
  display: flex;
  justify-content: space-between;
  margin-right:10vw;
  margin-left: 10vw;
  align-items: center;
}

.student-details-btn>button{
  height: fit-content;
  font-weight: bold;
  background-color: green;
  border: 2px solid yellowgreen;
  width: 150px;
  height: 50px;
  padding: 10px;
  border-radius: 50px;
}

.student-details-btn>button:hover{
  cursor: pointer;
  box-shadow: 0 2px 4px yellow;
}

.details-section{
  margin-left:30px;
  margin-right: 30px;
  height: fit-content;
  background-color: rgb(242, 203, 237);
  border-radius: 150px;
  display: flex;
  flex-flow: column;
  align-items: center;
  position: relative;
  margin: auto;
  top: 40px;
  width: 82%;
}

.head{
  display: flex;
  align-items: center;
  flex-flow: row;
  gap:10vw;
  background-color: rgb(130, 192, 183);
  border-radius: 60px;
  border: 3px solid rgb(142, 33, 107);
  height:60px;
  position: relative;
  top: -40px;
}

.addSList-form{
  display: flex;
  flex-flow: column;
  align-items: center;
}
form{
  padding: 25px;
  border: 2px solid rgb(239, 47, 47);
  border-radius: 20px;
display: flex;
flex-flow: column;
width: 350px;
justify-content: center;
}

form>input{
  border: none;
  background-color: rgb(160, 208, 208);
  padding: 10px;
  border-radius: 5px;
}

.addSList-form>.btn-div>button{
  width:110px;
  padding: 10px;
  border-radius: 50px;
  border: 2px solid rgb(89, 10, 154);
  font-weight: bold;
  background-color: rgb(193, 85, 27);
  position: relative;
  bottom: 20px;
}
.addSList-form>button:hover{
  cursor: pointer;
}

.StudentCard{
  display: flex;
  flex-flow: row;
  gap: 13vw;
  align-items: center;
  border-bottom: 2px solid white;
}

.list{
  position: relative;
  top: -30px;
}
.StudentCard>button{
  height: fit-content;
  padding: 10px;
  border-radius: 10px;
  background-color: white;
  border: none;
}
.StudentCard>button:hover{
  cursor: pointer;
}
.StudentCard>h2{
  width: 15px;
}

.btn-div{
  display: flex;
  flex-flow: row;
 gap: 1vw;
  margin-left: 8vw;
}

.btn-div>button:hover{
  cursor: pointer;
}